<div class="ntd2dwrapper">
  <ul>
    <li class="ntd2d_latest"><a href="/PyHyperScattering/en/latest/index.html">latest</a></li>

    <li class="ntd2d_stable"><a href="/PyHyperScattering/en/stable/index.html">stable</a></li>

    <li class="ntd2d_0.2.7"><a href="/PyHyperScattering/en/0.2.7/index.html">0.2.7</a></li>

    <li class="ntd2d_0.2.4"><a href="/PyHyperScattering/en/0.2.4/index.html">0.2.4</a></li>

    <li class="ntd2d_0.2.3"><a href="/PyHyperScattering/en/0.2.3/index.html">0.2.3</a></li>

    <li class="ntd2d_0.2.2"><a href="/PyHyperScattering/en/0.2.2/index.html">0.2.2</a></li>

  </ul>
  <ul>
    <li class="ntd2d_112-userwarning-error-while-time-integrating-monitors"><a href="/PyHyperScattering/en/112-userwarning-error-while-time-integrating-monitors/index.html">112-userwarning-error-while-time-integrating-monitors</a></li>

    <li class="ntd2d_112-userwarning-error-while-time-integrating-monitors-onto-images-usually-this-indicates-a-problem-with-the-monitors-this-is-a-critical-error-if-doing-normalization-otherwise-fine-to-ignore"><a href="/PyHyperScattering/en/112-userwarning-error-while-time-integrating-monitors-onto-images-usually-this-indicates-a-problem-with-the-monitors-this-is-a-critical-error-if-doing-normalization-otherwise-fine-to-ignore/index.html">112-userwarning-error-while-time-integrating-monitors-onto-images-usually-this-indicates-a-problem-with-the-monitors-this-is-a-critical-error-if-doing-normalization-otherwise-fine-to-ignore</a></li>

    <li class="ntd2d_129-feat-sst1rsoxsdb-normalize-dataset-return-names-to-100"><a href="/PyHyperScattering/en/129-feat-sst1rsoxsdb-normalize-dataset-return-names-to-100/index.html">129-feat-sst1rsoxsdb-normalize-dataset-return-names-to-100</a></li>

    <li class="ntd2d_133-feat-generalize-ar-calculations-chi-center-polarizations-reflections"><a href="/PyHyperScattering/en/133-feat-generalize-ar-calculations-chi-center-polarizations-reflections/index.html">133-feat-generalize-ar-calculations-chi-center-polarizations-reflections</a></li>

    <li class="ntd2d_134-feat-data-browser-widget"><a href="/PyHyperScattering/en/134-feat-data-browser-widget/index.html">134-feat-data-browser-widget</a></li>

    <li class="ntd2d_138-NEXAFSloading"><a href="/PyHyperScattering/en/138-NEXAFSloading/index.html">138-NEXAFSloading</a></li>

    <li class="ntd2d_140-sst1-repeat-exposures"><a href="/PyHyperScattering/en/140-sst1-repeat-exposures/index.html">140-sst1-repeat-exposures</a></li>

    <li class="ntd2d_142-add-developer-docs"><a href="/PyHyperScattering/en/142-add-developer-docs/index.html">142-add-developer-docs</a></li>

    <li class="ntd2d_163-relax-holoviews-version-pin"><a href="/PyHyperScattering/en/163-relax-holoviews-version-pin/index.html">163-relax-holoviews-version-pin</a></li>

    <li class="ntd2d_2-multi-polarization-anisotropy"><a href="/PyHyperScattering/en/2-multi-polarization-anisotropy/index.html">2-multi-polarization-anisotropy</a></li>

    <li class="ntd2d_22-read-nika-directly"><a href="/PyHyperScattering/en/22-read-nika-directly/index.html">22-read-nika-directly</a></li>

    <li class="ntd2d_31-search-catalog-docs"><a href="/PyHyperScattering/en/31-search-catalog-docs/index.html">31-search-catalog-docs</a></li>

    <li class="ntd2d_53-tidy-up-imports"><a href="/PyHyperScattering/en/53-tidy-up-imports/index.html">53-tidy-up-imports</a></li>

    <li class="ntd2d_57-feat-general-beamcenter-calibration"><a href="/PyHyperScattering/en/57-feat-general-beamcenter-calibration/index.html">57-feat-general-beamcenter-calibration</a></li>

    <li class="ntd2d_72-sst1rsoxsdb-and-sst1rsoxsloader-warn-on-saturation-and-warn-on-underexposure"><a href="/PyHyperScattering/en/72-sst1rsoxsdb-and-sst1rsoxsloader-warn-on-saturation-and-warn-on-underexposure/index.html">72-sst1rsoxsdb-and-sst1rsoxsloader-warn-on-saturation-and-warn-on-underexposure</a></li>

    <li class="ntd2d_97-sanitize-attrs-prior-export"><a href="/PyHyperScattering/en/97-sanitize-attrs-prior-export/index.html">97-sanitize-attrs-prior-export</a></li>

    <li class="ntd2d_Issue178_FixLoadRun"><a href="/PyHyperScattering/en/Issue178_FixLoadRun/index.html">Issue178_FixLoadRun</a></li>

    <li class="ntd2d_Issue180_AddEnvironmentSetupInstructions"><a href="/PyHyperScattering/en/Issue180_AddEnvironmentSetupInstructions/index.html">Issue180_AddEnvironmentSetupInstructions</a></li>

    <li class="ntd2d_Issue38_AddingDocumentation"><a href="/PyHyperScattering/en/Issue38_AddingDocumentation/index.html">Issue38_AddingDocumentation</a></li>

    <li class="ntd2d_bugfix_energy_index"><a href="/PyHyperScattering/en/bugfix_energy_index/index.html">bugfix_energy_index</a></li>

    <li class="ntd2d_create-plotting-shortcuts"><a href="/PyHyperScattering/en/create-plotting-shortcuts/index.html">create-plotting-shortcuts</a></li>

    <li class="ntd2d_integrateImageStack_energy"><a href="/PyHyperScattering/en/integrateImageStack_energy/index.html">integrateImageStack_energy</a></li>

    <li class="ntd2d_main"><a href="/PyHyperScattering/en/main/index.html">main</a></li>

    <li class="ntd2d_pbeaucage-patch-1"><a href="/PyHyperScattering/en/pbeaucage-patch-1/index.html">pbeaucage-patch-1</a></li>

    <li class="ntd2d_revert-152-72-sst1rsoxsdb-and-sst1rsoxsloader-warn-on-saturation-and-warn-on-underexposure"><a href="/PyHyperScattering/en/revert-152-72-sst1rsoxsdb-and-sst1rsoxsloader-warn-on-saturation-and-warn-on-underexposure/index.html">revert-152-72-sst1rsoxsdb-and-sst1rsoxsloader-warn-on-saturation-and-warn-on-underexposure</a></li>

  </ul>
</div>
