<div class="ntd2dwrapper">
  <ul>
    <li class="ntd2d_latest"><a href="/PyHyperScattering/en/latest/index.html">latest</a></li>

    <li class="ntd2d_stable"><a href="/PyHyperScattering/en/stable/index.html">stable</a></li>

    <li class="ntd2d_0.2.3"><a href="/PyHyperScattering/en/0.2.3/index.html">0.2.3</a></li>

    <li class="ntd2d_0.2.2"><a href="/PyHyperScattering/en/0.2.2/index.html">0.2.2</a></li>

  </ul>
  <ul>
    <li class="ntd2d_112-userwarning-error-while-time-integrating-monitors"><a href="/PyHyperScattering/en/112-userwarning-error-while-time-integrating-monitors/index.html">112-userwarning-error-while-time-integrating-monitors</a></li>

    <li class="ntd2d_112-userwarning-error-while-time-integrating-monitors-onto-images-usually-this-indicates-a-problem-with-the-monitors-this-is-a-critical-error-if-doing-normalization-otherwise-fine-to-ignore"><a href="/PyHyperScattering/en/112-userwarning-error-while-time-integrating-monitors-onto-images-usually-this-indicates-a-problem-with-the-monitors-this-is-a-critical-error-if-doing-normalization-otherwise-fine-to-ignore/index.html">112-userwarning-error-while-time-integrating-monitors-onto-images-usually-this-indicates-a-problem-with-the-monitors-this-is-a-critical-error-if-doing-normalization-otherwise-fine-to-ignore</a></li>

    <li class="ntd2d_120-chore-modify-gitattributes-to-exclude-docs-in-language-stats"><a href="/PyHyperScattering/en/120-chore-modify-gitattributes-to-exclude-docs-in-language-stats/index.html">120-chore-modify-gitattributes-to-exclude-docs-in-language-stats</a></li>

    <li class="ntd2d_2-multi-polarization-anisotropy"><a href="/PyHyperScattering/en/2-multi-polarization-anisotropy/index.html">2-multi-polarization-anisotropy</a></li>

    <li class="ntd2d_57-feat-general-beamcenter-calibration"><a href="/PyHyperScattering/en/57-feat-general-beamcenter-calibration/index.html">57-feat-general-beamcenter-calibration</a></li>

    <li class="ntd2d_integrateImageStack_energy"><a href="/PyHyperScattering/en/integrateImageStack_energy/index.html">integrateImageStack_energy</a></li>

    <li class="ntd2d_main"><a href="/PyHyperScattering/en/main/index.html">main</a></li>

  </ul>
</div>
